@charset "UTF-8"

  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive;
    --font3:'Sriracha', cursive;
}

*{
margin: 0px;
padding: 0px;

}

html, body {
    font-family:var(--font1);
    background-color: darkgrey;
    min-width: 10vh;
    
}
header {
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--font1);
    font-size: 5vw;
    margin: auto;

}
header > p {
    padding-bottom: 50%;
    

}
header a,footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover,footer a:hover {
    text-decoration: underline;
}
section {
    margin: auto;
    line-height: 1.2em;
    font-size: 3vw;
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;

}
section > p {
    padding: 2em;
}
section.normal {
    background-color: white;
    color: black;

}
section.imagem {
    background-attachment: fixed;
    background-color: rgb(36, 35, 35);
    color: white;
    box-shadow: inset6px 6px 13px 0px black;
}
section.imagem > p {
  background-color: rgba(0, 0, 0, 0.123);
  display: inline-block;
  margin-left: -4px;
  padding: 15px;
  border-radius: 5px;
  text-shadow: 1px 1.5px 0px black;
}
section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position:left center;
    background-size: cover;

}
section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-size: cover;

}


footer {       
    background-color: rgba(0, 0, 0, 0.575);
    font-size: 0.8em;
    text-align: center;
    color: white;
      
}

